<html>
  <body>
    <h1>Bem-vindo ao Site da Fatec Sorocaba</h1>
    <p>Este é o nosso site oficial.</p>
    <ul>
      <li><a href="/informacao/historia">História da Fatec Sorocaba</a></li>
      <li><a href="/informacao/cursos">Cursos da Fatec Sorocaba</a></li>
      <li><a href="/informacao/professores">Professores da Fatec Sorocaba</a></li>
      <li><a href="/admin/adicionar_usuario">Adicionar Usuário</a></li>
    </ul>
  </body>
</html>