<div class="container">
    <div class="hero">
      <h1>Bem-vindo ao meu Projeto: Seo App Evolved!</h1>
      <p>
         A Otimização de Mecanismos de Busca (SEO) é crucial para garantir que seu site se classifique bem nas
         páginas de resultados de mecanismos de busca (SERPs) e atraia tráfego orgânico.
         Neste projeto, implementei várias estratégias para otimizar o SEO da minha aplicação Angular.
      </p>
    </div>

    <div class="features">
      <div class="feature">
        <h2>Renderização do Lado do Servidor</h2>
        <p>Utilizei o Angular Universal para renderização do lado do servidor (SSR).</p>
      </div>
      <div class="feature">
        <h2>Gerenciamento de Conteúdo Dinâmico</h2>
        <p>Integrei o ButterCMS para gerenciar conteúdo dinâmico e melhorar os tempos de carregamento da página.</p>
      </div>
    </div>
    <div class="features">
      <div class="feature">
        <h2>Página com Exemplos</h2>
        <p>Uma página contendo exemplos de três grandes empresas que utilizam estratégias de SEO para melhorar seus negócios.</p>
      </div>
      <div class="feature">
        <h2>Uma Página de Referência</h2>
        <p>Uma página de referência contendo as fontes que utilizei para este projeto, incluindo repositórios de código e sites relacionados ao SEO.</p>
      </div>
    </div>

    <div class="footer">
      <p>&copy; 2024 Seo App Evolved. Todos os direitos reservados.</p>
    </div>
  </div>
